.app-header {
  background-color: var(--clr1);
  color: var(--clr1bg);
  padding: 1em;
  display: grid;
  gap: 0.8em;
  min-height: 6em;

  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .app-nav {
    display: flex;
    gap: 15px;
  }

}