.toy-filter {
    background-color: var(--clr1);
    padding: 1em;
    display: grid;

    form {
        display: grid;
        // justify-items: start;
        // justify-content: start;
        gap: 1em;

        >div:last-child {
            // grid-column: 1/span 2;
            // width: 100%;
        }

        @include for-narrow-layout {
            grid-auto-flow: column;
            grid-template-columns: repeat(3, 1fr) 2fr;

        }
    }
}