.toy-preview {
    display: grid;
    align-items: center;
    justify-items: center;

    &.out-of-stock {
        color: gray;
    }

    img {
        max-width: 250px;
        // max-width: 100px;
        margin-block: 1em;
    }
}