.toy-list {
    list-style: none;
    padding: 0;
    display: grid;
    gap: 0.5em;

    li {
        display: grid;
        justify-items: center;
        background-color: var(--clr1bg);
        padding: 0.5em;

        .tools {
            display: grid;
            grid-auto-flow: column;
            gap: 0.5em
        }
    }

    //tablet mq
    @include for-narrow-layout {
        grid-template-columns: repeat(3, 1fr);

    }
}