.home-page {
    justify-items: center;
    align-content: center;
    text-align: center;
    background-image: url("/src/assets/img/ballons.png");
    background-repeat: no-repeat;
    background-size: cover;
}