:root {
  --clr1: #0a9396;
  --clr2: #ae2012;

  --clr1bg: #c3eddf;
  --clr1bg-light: #c1f1e1;
  --clr2bg: #ee9b00;
  --clr2bg-light: #e9d8a6;

  --gray1: rgb(240, 240, 240);
  --gray2: rgb(155, 155, 155);
  --gray3: rgb(44, 44, 44);

}


// COLOR PALETTE
// $clr1: #FF521C;
// $clr2: #000;
// $clr3: #fff;
// $clr4: darken($clr3, 40%);
// $clr5: #2d2d2d;

// // LAYOUT
$layoutPadding: 20px;

// // LAYOUT BREAKPOINTS
$break-narrow: 768px; //tablet
$break-wide: 992px; //desktop

$padded-break-narrow: $break-narrow + $layoutPadding * 2;
$padded-break-wide: $break-wide + $layoutPadding * 2;