:root {
  --clr1: #cdb4dbff;
  --clr2: #a2d2ffff;

  --clr1bg: #ffc8ddff;
  --clr2bg: #bde0feff;

  // --clr1: #0a9396;
  // --clr2: #ae2012;

  // --clr1bg: #c3eddf;
  // --clr1bg-light: #c1f1e1;
  // --clr2bg: #ee9b00;
  // --clr2bg-light: #e9d8a6;

  --gray1: rgb(240, 240, 240);
  --gray2: rgb(155, 155, 155);
  --gray3: rgb(44, 44, 44);

}

// $thistle: #cdb4dbff; V
// $fairy-tale: #ffc8ddff;
// $carnation-pink: #ffafccff;
// $uranian-blue: #bde0feff; V
// $light-sky-blue: #a2d2ffff;

// // LAYOUT
$layoutPadding: 20px;

// // LAYOUT BREAKPOINTS
$break-narrow: 768px; //tablet
$break-wide: 992px; //desktop

$padded-break-narrow: $break-narrow + $layoutPadding * 2;
$padded-break-wide: $break-wide + $layoutPadding * 2;