* {
  box-sizing: border-box;
}

html {}

body {
  margin: 0;
  color: var(--gray3);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: .5em 0 .5em;
  font-family: 'Edu VIC WA NT Beginner', cursive;
}

p {
  margin: 0 0 1em;
}

a {
  text-decoration: none;
  color: unset;

  &.active {
    text-decoration: underline;
  }
}

img,
embed,
video,
object {
  max-width: 100%
}


.btn {
  cursor: pointer;
  background-color: var(--clr2bg);
  border: 0;
  padding: 0.5em 0.8em;
  border-radius: 4px;

  &:hover {
    background-color: var(--clr2);
    transition: .3s;
  }

}

/* Simple and useful CSS Debugging Technique */
.debug * {
  outline: 1px solid gold
}